extends ../layouts/common

block content
    h1 Login
    if errors
        each error in errors
            .alert.alert-danger=error

    form(action="/auth/login",method="POST",style="width:25rem")
        .form-group
            input(type="email" name="email" class="form-control mr-2",placeholder="email",value=values ? values.email : '')
        .form-group
            input(type="password" name="password" class="form-control mr-2",placeholder="password",value=values ? values.password : '')
        button(type="submit" class="btn btn-primary") Login

    