extends ../layouts/common

block content
    h1 Create new User

    form(action="/users/create" method="POST" class="d-flex")
        input(type="text" name="name" class="form-control mr-2",placeholder="name")
        button(type="submit" class="btn btn-primary") submit

    