h1 Create new User

form(action="/users/create" method="POST")
    label ID
    input(type="text" name="ID")
    br
    label name
    input(type="text" name="name")
    br
    button(type="submit") submit

    